@import "tailwindcss";

:root {
	--primaryColor: #fff5ebff;
	--cta: #301411ff;
	--text: rgba(0,0,0,0.45);
	--fs-p: 5rem;
	--fs-h1: 5rem;
	--fs-h2: 5rem;	
	--fs-h3: 5rem;	
	--radius: 55rem;
}

@font-face {
	font-family: 'Inter Variable';
	src: url('/fonts/inter-latin-wght-normal.woff2') format('woff2');
	font-weight: 100 900;
	font-style: normal;
	font-display: swap;
}

.leaflet-pane {
	z-index: 0;
}

.global-padding {
	@apply px-5 md:px-16 lg:px-24 xl:px-35;
}

@media (max-width: 768px) { /* mobile */
	:root {
		--fs-p: .8rem;
		--fs-h1: 2.2rem;
		--fs-h2: 1.8rem;
		--fs-h3: 1.5rem;
	}
}