---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';
import Formulario from '../components/Formulario.astro'
---

<Layout>
	<section class="py-20 lg:px-40">
		<h1>Contactanós</h1>

		<Formulario />		

	</section>
</Layout>