---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<main class="global-padding flex flex-col gap-4 py-10">
		<h1 class="text-3xl font-bold">Política de Privacidad</h1>
		<p class="text-lg">Al utilizar este sitio, aceptas nuestra política de privacidad que se describe a continuación:</p>

		<h2 class="text-xl">Recopilación de Datos Personales:</h2>
		<p class="text-gray-600 text-lg">Nuestra empresa recopila información personal, como nombres, direcciones de correo electrónico y números de teléfono, cuando los usuarios envían formularios o interactúan con el sitio. Esta información se utiliza para responder a consultas, brindar servicios y mejorar la experiencia del usuario.</p>

		<h2 class="text-xl">Compartir Datos:</h2>
		<p class="text-gray-600 text-lg">El Sitio no vende ni comparte datos personales de los usuarios con terceros con fines de marketing. Sin embargo, podemos compartir datos con proveedores de servicios que nos ayudan en operaciones comerciales, como procesamiento de pagos y análisis.</p>

		<h2 class="text-xl">Almacenamiento en Caché de Datos:</h2>
		<p class="text-gray-600 text-lg">Nuestra plataforma utiliza el almacenamiento en caché para mejorar la velocidad y la eficiencia del sitio web. Esto significa que ciertos datos, como imágenes y archivos, pueden almacenarse temporalmente en tu dispositivo o en servidores intermedios para facilitar un acceso más rápido a las páginas y recursos del sitio. El almacenamiento en caché no afecta la recopilación de datos personales ni la seguridad de la información proporcionada por los usuarios.</p>

		<h2 class="text-xl">Seguridad de Datos:</h2>
		<p class="text-gray-600 text-lg">Nuestra Plataforma toma medidas para proteger los datos personales de los usuarios. Sin embargo, no podemos garantizar la seguridad completa de la información transmitida a través de Internet.</p>

		<h2 class="text-xl">Enlaces a Sitios de Terceros:</h2>
		<p class="text-gray-600 text-lg">Nuestro sitio web podría contener enlaces a sitios web de terceros. Nuestra empresa no es responsable de las prácticas de privacidad de esos sitios. Te recomendamos revisar las políticas de privacidad de esos sitios antes de proporcionar información personal.</p>

		<h2 class="text-xl">Acceso y Control:</h2>
		<p class="text-gray-600 text-lg">Los usuarios tienen el derecho de acceder, corregir y eliminar sus datos personales proporcionados a Nuestra Plataforma. Para solicitar cambios en tus datos, comunícate con nosotros a través de la información de contacto proporcionada.</p>

		<h2 class="text-xl">Aceptación de la Política de Privacidad:</h2>
		<p class="text-gray-600 text-lg">Al utilizar este sitio, aceptas nuestra política de privacidad. Si no estás de acuerdo con esta política, te recomendamos que no utilices el sitio.</p>

	</main>
</Layout>