---
import Layout from '@/layouts/Layout.astro'
---

<Layout>
	<main class="global-padding flex flex-col gap-4 py-10">
		<h1 class="text-3xl font-bold">Términos y Condiciones</h1>
		Al utilizar este sitio, aceptas cumplir con estos términos y condiciones de uso. Si no estás de acuerdo con ellos, te pedimos que no utilices este sitio.

<h2 class="text-xl">1. Aceptación de los términos.</h2>
<p class="text-gray-600 text-lg">Al acceder y utilizar este sitio web, aceptas cumplir con los siguientes términos y condiciones de uso. Si no estás de acuerdo con alguno de estos términos, te recomendamos que no utilices este sitio.</p>

<h2 class="text-xl">2. Propiedad intelectual.</h2>
<p class="text-gray-600 text-lg">Todo el contenido presente en este sitio, incluyendo pero no limitado a textos, imágenes, gráficos, logotipos y videos, está protegido por derechos de propiedad intelectual y es propiedad exclusiva de nuestra empresa. Queda prohibida la reproducción, distribución o modificación de dicho contenido sin previa autorización.</p>

<h2 class="text-xl">3. Autorización.</h2>
<p class="text-gray-600 text-lg">Licencia y Acreditación: Nuestra empresa cuenta con las licencias y acreditaciones necesarias para operar como agencia inmobiliaria. Estamos registrados y cumplimos con todas las regulaciones y normativas aplicables en nuestra área de operación. Acuerdos Legales: Antes de ofrecer cualquier propiedad en venta o alquiler, nos aseguramos de tener un acuerdo legal válido con el propietario que nos autoriza a actuar en su nombre. Estos acuerdos establecen los términos y condiciones de nuestra representación, así como nuestras responsabilidades y obligaciones como agencia inmobiliaria.</p>

<h2 class="text-xl">4. Uso del sitio y Uso adecuado del contenido.</h2>
<p class="text-gray-600 text-lg">Estás autorizado a utilizar este sitio únicamente con fines legales y de acuerdo con estos términos y condiciones. Queda prohibido realizar acciones que puedan causar daño o interferir con el funcionamiento normal del sitio. Al utilizar el sitio, te comprometes a no usar el contenido o la plataforma para actividades ilegales, inmorales, difamatorias, abusivas o que puedan infringir los derechos de otros usuarios o terceros. Se prohíbe la distribución de contenido que viole leyes de propiedad intelectual o derechos de autor.</p>

<h2 class="text-xl">5. Modificaciones.</h2>
<p class="text-gray-600 text-lg">Nos reservamos el derecho de modificar estos términos y condiciones en cualquier momento sin previo aviso. Te recomendamos revisar regularmente esta página para estar al tanto de cualquier cambio.</p>

<h2 class="text-xl">6. Ley aplicable.</h2>
<p class="text-gray-600 text-lg">Estos términos y condiciones se rigen por las leyes de la República Argentina y, en particular, por las leyes de la Provincia de Córdoba. Cualquier disputa relacionada con el uso de este sitio se resolverá en los tribunales competentes de la Provincia de Córdoba, República Argentina.</p>

<h2 class="text-xl">7. Contacto</h2>
<p class="text-gray-600 text-lg">Si tienes alguna pregunta, inquietud o consulta sobre estos términos y condiciones, puedes ponerte en contacto con nosotros a través de los medios de contacto proporcionados en la sección de información de contacto.</p>

<h2 class="text-xl">8. Formularios y Datos de Usuario</h2>
<p class="text-gray-600 text-lg">Al utilizar los formularios en este sitio para enviar información, consultas u otros datos, aceptas proporcionar información precisa, actualizada y completa. Te comprometes a no enviar datos falsos, fraudulentos o engañosos. Nuestra Empresa se compromete a manejar los datos de acuerdo con su política de privacidad. Nuestra empresa recopilará y almacenará los datos enviados a través de los formularios con el propósito de responder a consultas, proporcionar información o servicios solicitados y mejorar la experiencia del usuario en el sitio. La recopilación, uso y almacenamiento de los datos se rige por la política de privacidad de nuestra empresa. Al enviar sus datos, comprendes que la transmisión de información a través de Internet puede no ser completamente segura. Nuestra Plataforma se esfuerza por proteger tus datos, pero no puede garantizar la seguridad absoluta de la información transmitida. Al enviar datos a través de formularios en este sitio, aceptas que nuestra empresa pueda comunicarse contigo mediante los datos proporcionados, incluidos el correo electrónico y el número de teléfono, para responder a tus consultas o proporcionar información relacionada con tus solicitudes. Para obtener más información sobre cómo manejamos los datos de los usuarios, consulta la Politica de privacidad.</p>

	</main>
</Layout>