---
import Logo from '/public/logo.astro'
import Options from '@/components/Options.astro'

const links=[
	{
		title: "Inicio",
		url: "/"
	},
	{
		title: "Comprar",
		url: "/propiedades/venta",
		childrens: [
			{ title: "Casas en venta", url: "/propiedades/venta/casas" },
			{ title: "Departamentos en venta", url: "/propiedades/venta/departamentos" },
			{ title: "Terrenos en venta", url: "/propiedades/venta/terrenos" },
			{ title: "PHs en venta", url: "/propiedades/venta/ph" }
		]
	},
	{
		title: "Alquilar",
		url: "/propiedades/alquiler",
		childrens: [
			{ title: "Casas en alquiler",  url: "/propiedades/alquiler/casas" },
			{ title: "Departamentos en alquiler", url: "/propiedades/alquiler/departamentos" },
			{ title: "Terrenos en alquiler", url: "/propiedades/alquiler/terrenos" },
			{ title: "PHs en alquiler", url: "/propiedades/alquiler/ph" }
		]
	},
	{
		title: "Ver propiedades",
		url: "/propiedades"
	},
	{
		title: "Contáctanos",
		url: "/contacto"
	}
]
---

<header class="global-padding header sticky top-0 py-6 bg-white h-20 lg:h-22 z-100">

	<nav class="lg:flex lg:items-center max-w-[1200px] mx-auto">

		<!--LOGO -->
		<div class="flex justify-between items-center flex-1">
			<a href="/" aria-label="Inicio - Ir al inicio">
				<Logo />
			</a>

			<input 
				type="checkbox" 
				class="lg:hidden" 
				id='menu-toggle'
				aria-label="Abrir menú de navegación"
			>
			<label for="menu-toggle" class="hamburger">
				<span class="sr-only">Menú</span>
				<svg id='close' class="hidden" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 24 24" fill="currentColor" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M6.707 5.293l5.293 5.292l5.293 -5.292a1 1 0 0 1 1.414 1.414l-5.292 5.293l5.292 5.293a1 1 0 0 1 -1.414 1.414l-5.293 -5.292l-5.293 5.292a1 1 0 1 1 -1.414 -1.414l5.292 -5.293l-5.292 -5.293a1 1 0 0 1 1.414 -1.414" />
				</svg>
				<svg id='open' xmlns="http://www.w3.org/2000/svg" width="35" height="35" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none" /><path d="M4 6l16 0" /><path d="M4 12l16 0" /><path d="M4 18l16 0" /></svg>
			</label>
		</div>

		<!-- Navigation -->
		<ul class="hidden nav flex flex-col lg:flex-row bg-white gap-6 lg:gap-10 mt-10 lg:mt-0 lg:items-center">
			{links.map((item,i) => (
				!item.childrens ? (
					<li>
						<a href={item.url} class={`${i===4 ? "rounded-[10px] bg-black text-white py-3 px-5": "hover:text-[#e48957] transition-text ease duration-200"} flex lg:inline`}>{item.title}</a>
					</li>
				) : (
					<Options item={item} />
				)
			))}
		</ul>
	</nav>

</header>

<style>

	.header:has(#menu-toggle:checked) .nav {
		display: flex;
	}
	.header:has(#menu-toggle:checked){
		height: 100vh;
	}

	.header:has(#menu-toggle:checked) #close {
		display: inline;
	}
	.header:has(#menu-toggle:checked) #open {
		display: none;
	}


	input {
		pointer-events: none;
		opacity: 0;
		position: absolute;
	}
	
	@media screen and (min-width: 1020px){
		.nav {
			display: flex;
		}
		.hamburger {
			display: none;
		}
	}

</style>