---
import SearchProperties from "./SearchProperties.jsx";
// import { Image } from 'astro:assets';
// import Search from "./Search.astro";
const data = [
	{
		value: "1200+",
		description: "Propiedades en Cartera",
		icon: `<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="var(--cta)" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-building-community"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M8 9l5 5v7h-5v-4m0 4h-5v-7l5 -5m1 1v-6a1 1 0 0 1 1 -1h10a1 1 0 0 1 1 1v17h-8" /><path d="M13 7l0 .01" /><path d="M17 7l0 .01" /><path d="M17 11l0 .01" /><path d="M17 15l0 .01" /></svg>`
	},
	{
		value: "950+",
		description: "Clientes Satisfechos",
		icon: `<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="var(--cta)" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-users"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 7a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M3 21v-2a4 4 0 0 1 4 -4h4a4 4 0 0 1 4 4v2" /><path d="M16 3.13a4 4 0 0 1 0 7.75" /><path d="M21 21v-2a4 4 0 0 0 -3 -3.85" /></svg>`
	},
	{
		value: "100%",
		description: "Transparencia",
		icon: `<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="var(--cta)" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-award"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M6 9a6 6 0 1 0 12 0a6 6 0 1 0 -12 0" /><path d="M12 15l3.4 5.89l1.598 -3.233l3.598 .232l-3.4 -5.889" /><path d="M6.802 12l-3.4 5.89l3.598 -.233l1.598 3.232l3.4 -5.889" /></svg>`
	},
	{
		value: "15+",
		description: "Años de Experiencia",
		icon: `<svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" focusable="false" width="28" height="28" viewBox="0 0 24 24" fill="none" stroke="var(--cta)" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icons-tabler-outline icon-tabler-calendar-stats"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M11.795 21h-6.795a2 2 0 0 1 -2 -2v-12a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v4" /><path d="M18 14v4h4" /><path d="M14 18a4 4 0 1 0 8 0a4 4 0 1 0 -8 0" /><path d="M15 3v4" /><path d="M7 3v4" /><path d="M3 11h16" /></svg>`
	}
]
---

<section class="bg-white lg:px-24 xl:px-35 pb-20 lg:pt-5">

	<div class="bg-[var(--primaryColor)] flex flex-col lg:flex-row lg:gap-5 lg:rounded-[45px] max-w-[1200px] m-auto relative rounded-b-[55px]">

		<div class="flex-1 flex flex-col gap-4 py-10 px-5 lg:px-0 lg:pl-20">
			<h1 class="text-center lg:text-start text-[2rem] lg:text-[2.3rem] font-extrabold leading-[2.7rem]">Encontrá tu próximo <br class="hidden lg:static">hogar en <span class="text-[#eeaa69ff]">Córdoba</span></h1>
			<p class="text-center lg:text-start text-[16px] lg:text-lg text-[#888]">Venta y alquiler de casas, departamentos y terrenos <br class="hidden lg:static">exclusivos en las mejores zonas.</p>

			<SearchProperties client:load />
			<a href="#asesoramiento" class="text-[16px] lg:text-base m-auto lg:m-0 flex items-center gap-2 group w-fit">
				Quiero vender/asesorarme

				<svg class="w-[18px] h-[18px] lg:w-[20px] lg:h-[20px] group-hover:translate-x-2 transition-translate-x duration-300 ease-in-out" aria-hidden="true" focusable="false" xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
					<path stroke="none" d="M0 0h24v24H0z" fill="none"/>
					<path d="M5 12l14 0" />
					<path d="M15 16l4 -4" />
					<path d="M15 8l4 4" />
				</svg>
			</a>
		</div>

		<div class="flex-1 py-5 lg:py-10 flex items-center justify-center relative overflow-hidden lg:rounded-[45px] rounded-b-[55px] lg:rounded-b-0">
			<div class="w-fit z-10 flex relative mr-10 lg:mr-20">
				<img src="/main-img.png" width="300" height="100" class="h-full w-full max-w-[250px] z-0 lg:max-w-none drop-shadow-[0_0_20px_rgba(0,0,0,0.2)]" loading="eager" fetchpriority='high' />
				<img src="/main-img-card.png" width="100" height="300" alt="Ilustración de una propiedad exhibida como card" class="w-[80px] lg:w-[100px] drop-shadow-[0_0_20px_rgba(0,0,0,0.05)] absolute -right-10 lg:-right-14 -bottom-0 z-0" loading="eager" fetchpriority='high' />
			</div>
			<div class="absolute w-full top-0 bottom-0 -right-0 rounded-t-full lg:rounded-t-none lg:rounded-l-full bg-[#ffe9d3ff]" />
		</div>
	</div>

	<ul class="grid grid-cols-2 lg:grid-cols-4 gap-y-8 mt-10 max-w-[1200px] m-auto px-5">
		{data.map(item => (
			<li class="flex flex-col items-center gap-2 z-5 text-center">
				<div class="bg-[var(--primaryColor)] p-4 rounded-[18px] w-fit">
					<span set:html={item.icon} />
				</div>
				<span class="font-extrabold">{item.value}</span>
				<p class="text-[#888] text-[15px] lg:text-base">{item.description}</p>
			</li>
		))}
	</ul>
	
</section>