---
const pasos = [
	{
		title: "La primera charla: entendemos tus necesidades",
		description: "Nos reunimos personalmente o por llamada para entender qué tipo de propiedad buscás: casa, departamento, terreno o inversión. Analizamos tu presupuesto, ubicación ideal y objetivos para definir una estrategia clara.",
		url: '/pasos-1.webp'
	},
	{
		title: "Búsqueda y selección: el match perfecto",
		description: "Con tu perfil definido, activamos nuestra red para encontrar las mejores opciones disponibles. Filtramos según tus criterios y te presentamos únicamente oportunidades reales que encajan con lo que buscás.",
		url: '/pasos-2.webp'
	},
	{
		title: "Las visitas: vive la Experiencia",
		description: "Te acompañamos en cada visita para evaluar la propiedad con tranquilidad y resolver tus dudas. Si encontrás la opción ideal, te asesoramos hasta la firma y la entrega de llaves.",
		url: '/pasos-3.webp'
	}
]

---

<section class="relative
	-mt-25
	pt-40
	pb-10
	lg:pb-20
	bg-white
" style={{ containerType: "inline-size" }}>

	<div class="absolute top-0 left-0 w-full h-30
		bg-gradient-to-b from-[#f3f3f3] from-0% to-white
	"></div>

	<p class="hidden lg:text-[7.2cqw] lg:flex text-center text-[#f5f5f5] leading-none mb-10 font-bold">TE ACOMPAÑAMOS EN <br> CADA ETAPA DEL PROCESO</p>
	<h2 class="max-w-[1400px] mx-auto global-padding text-xl lg:text-4xl ">Como trabajamos y hacemos <br>realidad tu búsqueda inmobiliaria</h2>
	<p class="max-w-[1400px] mx-auto global-padding text-[var(--text)] lg:text-2xl mt-5">Analizamos tu situación, filtramos las mejores opciones y gestionamos cada trámite. Tú tomas las decisiones; nosotros nos encargamos del resto.</p>

	<ul class="
	max-w-[1400px] mx-auto
	global-padding flex flex-col items-center justify-center gap-5 lg:gap-10 mt-5 lg:mt-20">
		{pasos.map((item,i) => (
			<li key={i} class={`flex items-center justify-center gap-5 lg:gap-10 flex-col-reverse lg:flex-row-reverse`}>
				<div class="flex flex-col gap-2">
					<span class="font-extrabold text-[#eeaa69ff] text-4xl lg:text-5xl">0{i+1}</span>
					<h3 class="font-[600] text-xl lg:text-3xl">{item.title}</h3>
					<p class="text-[#aaa] lg:text-xl" >{item.description}</p>
				</div>
				<div class="hidden lg:inline xflex lg:items-center lg:justify-center w-full lg:max-w-[300px]">
					<img 
						src={item.url} 
						height="300" 
						width="300" 
						alt={i===0 ? 'Asesor inmobiliario en reunión con cliente' : i===1? 'Selección de propiedades en tablet o computadora' : 'Visita a propiedad con agente inmobiliario'} 
						class="w-full xl:max-w-[300px] h-[250px] object-cover rounded-[40px]" 
						loading="lazy"
					/>
				</div>
			</li>
		))}
	</ul>

</section>