---
import Carousel from './CarouselThumbnails.jsx';

// 1. Resalta que no solo tenes un catalogo de propiedades, sino que te dedicas a encontrar 
// 1. el hogar perfecto segun ls necesiades del cliente
// 3. Menciona si trabajas con bancos o si pueden orientarlos para conseguir un credito
// 3. hipotecario. esto genera confianza
// 4. Explica brevemente como realisas la tasacion (analisis del mercado, experiencia, etc.)
//  6. Acompañamiento en el proceso de compra. desde las visitas hasta la firma
//  6. de la escritura, es el servicio que garantiza tranquilidad
// asesoria para compradores , analisis del mercado: si te enfocas en inversores, ayudarlos a identificar 
// las zonas con mayor potencial de crecimiento y rentabilidad.
---

<section class="pt-10 px-10 text-center m-auto lg:px-40 flex flex-col gap-2">

	<span class="opacity-[.6] text-2xl">¿Que nós diferencia?</span>
	<h2 class="text-3xl lg:text-4xl">Conocé nuestros servicios inmobiliarios <br> más destacados en Córdoba</h2>

	<ul class="flex gap-10 mt-5 z-10">
		<Carousel client:load />
	</ul>

</section>